<div class="quiz">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#summary">Summary</a></li>
    <li><a href="#answers">Review answers</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="summary">.
      <div class="row">
        <div class="col-md-7">
          <h1>Heroes</h1>
          <p><span>This quiz tests your knowledge about heroes! </span><span>To be more specific greek heroes.</span></p>
      </div>
      <div class="col-md-4 col-md-offset-1">
          <h6>Questions</h6>
          <ol>
            <li><a href="/quiz/heroes/1">Who is..</a></li>
            <li><a href="/quiz/heroes/1">Mother of Zeus</a></li>
            <li><a href="/quiz/heroes/1">Zeus horse</a></li>
        </ol>
    </div>
</div>
</div>
<div class="tab-pane" id="answers">
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, incidunt, eos recusandae provident id mollitia sit eveniet est architecto assumenda asperiores quos sequi consectetur accusantium quo? Neque adipisci voluptates odit!</div>
  <div>Molestias, impedit, ipsum, distinctio dicta id inventore amet quaerat sit molestiae quae aliquam dolores voluptatibus possimus ab necessitatibus laudantium ipsa architecto ea sed voluptate magni quod laborum magnam suscipit provident.</div>
</div>
</div>

</div>
